@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
@import './common/variables';
@import "../../node_modules/bulma/sass/utilities/derived-variables";
@import "../../node_modules/bulma/sass/utilities/mixins";
@import "../../node_modules/bulma/sass/utilities/animations";
@import "../../node_modules/bulma/sass/utilities/controls";
@import '../../node_modules/bulma/sass/base/_all';
@import '../../node_modules/bulma/sass/elements/_all';
@import '../../node_modules/bulma/sass/components/_all';
@import '../../node_modules/bulma/sass/grid/_all';
@import '../../node_modules/bulma/sass/layout/_all';

@import '../../node_modules/font-awesome/scss/variables.scss';
@import '../../node_modules/font-awesome/scss/mixins.scss';
@import '../../node_modules/font-awesome/scss/path.scss';
@import '../../node_modules/font-awesome/scss/core.scss';
@import '../../node_modules/font-awesome/scss/icons.scss';

@import '../../node_modules/leaflet/dist/leaflet';

$section_max_height: 400px;

.hero {
    background: linear-gradient(to bottom, rgba($dark-brown,0.3) 0%,rgba($dark-brown,0.3) 100%),
        url('../img/Maria_Sanchez_de_Thompson-bg-2.jpg') no-repeat center;
        background-size: cover;
}

.tabs {
    a {
        color: $white;
    }
    ul {
        @media screen and (max-device-width: $tablet) {
            flex-direction: column;
            align-items: center;
            li {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 1;
                min-width: 200px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        li {
            background-color: $dark-brown;
        }
    }
}

.profiles {
    max-height: $section_max_height;
    padding-top: 1px;
}

.img-circle {
    border-radius: 50%;
}

.is-gone {
    display: none !important;
}

.descripcion {
    font-size: 0.8rem;
}

.card-header .image {
    margin: auto 7px;
    img {
        height: inherit;
    }
}

.card-content img {
    max-height: 64px;
}

.map {
    height: $section_max_height;
}

.search {
    padding: 20px;
    background-color: $info;
}

.scrollable {
    overflow: auto;
}

.graph-text {
    text-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.25), -1px -1px 2px hsla(0, 0%, 100%, 0.25),
        -1px 1px 2px hsla(0, 0%, 100%, 0.25), 1px -1px 2px hsla(0, 0%, 100%, 0.25),
        -1px 0px 2px hsla(0, 0%, 100%, 0.25), 1px 0px 2px hsla(0, 0%, 100%, 0.25);
}

.arc {
    text {
        font-size: 0.8rem;
        text-anchor: middle;
    }

    path {
        stroke: #fff;
        &:hover {
            fill: #add8e6;
        }
    }
}

.continuar {
    background-color: $body-background-color;
    border-width: 2px;
    border-color: $black-ter;
    border-radius: 0px;
}

/* Clearable text inputs */
.clearable {
    background: #fff url('../img/x.svg') no-repeat right -50px center;
    background-size: auto 75%;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;

    &.x {
        background-position: right 10px center;
    } /* (jQ) Show icon */

    &.onX {
        cursor: pointer;
    } /* (jQ) hover cursor style */

    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    } /* Remove IE default X */
}
