@import '../../node_modules/bulma/sass/utilities/_all';
@import '../../node_modules/bulma/sass/base/_all';
@import '../../node_modules/bulma/sass/elements/_all';
@import '../../node_modules/bulma/sass/components/_all';
@import '../../node_modules/bulma/sass/grid/_all';
@import '../../node_modules/bulma/sass/layout/_all';

@import '../../node_modules/font-awesome/scss/variables.scss';
@import '../../node_modules/font-awesome/scss/mixins.scss';
@import '../../node_modules/font-awesome/scss/path.scss';
@import '../../node_modules/font-awesome/scss/core.scss';
@import '../../node_modules/font-awesome/scss/icons.scss';

@import '../../node_modules/leaflet/dist/leaflet';

$section_max_height: 400px;

.profiles {
    max-height: $section_max_height;
    padding-top: 1px;
}

.img-circle {
    border-radius: 50%;
}

.is-gone {
    display: none !important;
}

.card-header .image {
    margin: auto 7px;
    img {
        height: inherit;
    }
}

.card-content img {
    max-height: 64px;
}

.map {
    height: $section_max_height;
}

.search {
    padding: 20px;
    background-color: $info;
}

.scrollable {
    overflow: auto;
}

.graph-text {
    text-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.25), -1px -1px 2px hsla(0, 0%, 100%, 0.25),
        -1px 1px 2px hsla(0, 0%, 100%, 0.25), 1px -1px 2px hsla(0, 0%, 100%, 0.25),
        -1px 0px 2px hsla(0, 0%, 100%, 0.25), 1px 0px 2px hsla(0, 0%, 100%, 0.25);
}

.arc {
    text {
        font-size: 0.8rem;
        text-anchor: middle;
    }

    path {
        stroke: #fff;
        &:hover {
            fill: #add8e6;
        }
    }
}
