<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>A tu nombre</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico">
<link href="css/AtuNombre.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.12/themes/css/cartodb.css" />
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.12/cartodb.js"></script>

<script src="js/Chart.js"></script>
<script src="js/numeral.min.js"></script>
<link href="css/Charts.css" rel="stylesheet" type="text/css">

</head>

<body>
<header><a href="index.html"><img src="img/logo_a_tu_nombre.png" alt="A tu nombre"></a>
  <nav>
  <ul>
    <li><a href="#">El proyecto</a></li>
    <li><a href="#">Colaboradores</a></li>
  </ul>
</nav></header>
<div id="Mapa"></div>
<div id="FraseCantidad">
  <h1>Montevideo tiene <span class="amarilloChico">más de</span> <span class="amarilloGrande">5000</span> calles, pero <span class="amarilloChico">solo</span> <span class="amarilloGrande">100</span> llevan nombres de mujeres.</h1>
</div>
<div id="Texto">
  <p>Partimos de la base de que una ciudad la hacen sus habitantes. Todos y todas construimos la ciudad, su cultura, su paisaje y sus costumbres. Es importante sentirse parte del lugar donde uno/a vive y para esto es fundamental sentir que la ciudad te representa e incluye.</p>
  <p>Revisar y corregir la discriminación que representa que los personajes ilustres de una localidad sean casi en un 90% masculinos y apenas 100 calles de 5.000 lleven nombres de mujer. Es también, una invitación a pensar quiénes faltan en este mapa.</p>
</div>
<!--
<div class="Graficas">
  <h1>Algunos datos interesantes</h1>
  <div class="Grafica">
    <h2>¿Cuándo fueron nombradas?</h2>
  </div>
  <div class="Grafica">
    <h2>Rubros con más calles en su honor que mujeres</h2>
  </div>
</div>
-->
<div class="Graficas">
  <h1>Sobre las verdaderas mujeres de Montevideo</h1>
  <div class="Grafica">
    <h2>Porcentaje de la población</h2>
    <canvas id="graPop"></canvas>
  </div>
  <div class="Grafica">
    <h2>Educación</h2>
    <canvas id="graEd"></canvas>
  </div>
  <div class="Grafica">
    <h2>Actividad</h2>
    <canvas id="graAct"></canvas>
  </div>
  <div class="Grafica">
    <h2>Quehaceres del hogar</h2>
    <canvas id="graHog"></canvas>
  </div>
</div>
<footer>
  <div class="izq">
    <img src="img/logo_data.png" alt="DATA">
 
    <h3>Acerca de DATA</h3>
    <p>Somos una organización de la sociedad civil que trabaja creando herramientas sociales para promover la participación y el debate público a través de la transparencia, datos abiertos y acceso a la información.</p>
    <a href="https://datauy.org">https://datauy.org</a></p><a href="https://www.facebook.com/DATAUruguay"><img src="img/logo_fb.png" width="30" height="30" alt="Facebook DATA"></a><a href="https://www.twitter.com/DATAUY"><img src="img/logo_tw.png" width="30" height="30" alt="Twitter DATA"></a>
  </div>
  <div class="der">
    <img src="img/logo_datos_abiertos.png" alt="Datos Abiertos">
    <h3>Datos abiertos</h3>
    <p>El estado recoge y produce datos para cumplir con su función. Su publicación en formatos abiertos permite que sean reutilizados por el gobierno, sociedad civil, organizaciones, empresas o ciudadanos en general.</p>
    <a href="https://www.catalogodatos.gub.uy">https://www.catalogodatos.gub.uy</a>
  </div>
</footer>
  <script type="text/javascript">
    window.onload = function() {
      cartodb.createVis('Mapa', 'http://daniloespino.cartodb.com/api/v2/viz/51182c72-bf7a-11e4-8f55-0e853d047bba/viz.json');
    }
  </script>

  <script type="text/javascript">
    // Get the context of the canvas element we want to select
    var dataPop = [
    {
        value: 53.5,
        color:"#EB4B21",
        highlight: "#ADD8E6",
        label: "Hombre"
    },
    {
        value: 46.5,
        color: "#FED832",
        highlight: "#A52A2A",
        label: "Mujer"
    }
    ];
    var ctx = document.getElementById("graPop").getContext("2d");
    var myNewChart = new Chart(ctx).Pie(dataPop,{
      tooltipTemplate: " <%=label%>: <%= numeral(circumference / 6.283).format('(0[.][00]%)') %>",
    });
  </script>

  <script type="text/javascript">
    // Get the context of the canvas element we want to select
    var dataPop = [
    {
        value: 4.5,
        color:"#EB4B21",
        highlight: "#ADD8E6",
        label: "Menor de 4 años"
    },
    {
        value: 2.6,
        color:"#ED5722",
        highlight: "#ADD8E6",
        label: "Preescolar"
    },
    {
        value: 25.4,
        color:"#EE6324",
        highlight: "#ADD8E6",
        label: "Primaria común"
    },
    {
        value: 0.5,
        color:"#F06E25",
        highlight: "#ADD8E6",
        label: "Primaria especial"
    },
    {
        value: 17.3,
        color:"#F17A27",
        highlight: "#ADD8E6",
        label: "Ciclo básico"
    },
    {
        value: 17.4,
        color:"#F38628",
        highlight: "#ADD8E6",
        label: "Bachillerato"
    },
    {
        value: 4.8,
        color:"#F4922A",
        highlight: "#ADD8E6",
        label: "Enseñanza técnica/Formación profesional UTU"
    },
    {
        value: 3.5,
        color: "#F69D2B",
        highlight: "#ADD8E6",
        label: "Magisterio o profesorado"
    },
    {
        value: 2.3,
        color: "#F8A92C",
        highlight: "#ADD8E6",
        label: "Terciario no universitario"
    },
    {
        value: 16.8,
        color: "#F9B52E",
        highlight: "#ADD8E6",
        label: "Universidad o similar"
    },
    {
        value: 1.2,
        color: "#FBC02F",
        highlight: "#ADD8E6",
        label: "Posgrado (Diploma/Maestría/Doctorado)"
    },
    {
        value: 0.7,
        color: "#FCCC31",
        highlight: "#ADD8E6",
        label: "Nunca asistió"
    },
    {
        value: 2.6,
        color: "#FED832",
        highlight: "#ADD8E6",
        label: "No relevado"
    },

    ];
    var ctx = document.getElementById("graEd").getContext("2d");
    var myNewChart = new Chart(ctx).Pie(dataPop,{
      tooltipTemplate: " <%=label%>: <%= numeral(circumference / 6.283).format('(0[.][00]%)') %>",
    });
  </script>

  <script type="text/javascript">
    // Get the context of the canvas element we want to select
    var dataPop = [
    {
        value: 13.7,
        color:"#EB4B21",
        highlight: "#ADD8E6",
        label: "Menor de 12 años"
    },
    {
        value: 41.1,
        color: "#EE6324",
        highlight: "#ADD8E6",
        label: "Ocupadas"
    },
    {
        value: 0.7,
        color: "#F17A27",
        highlight: "#ADD8E6",
        label: "Desocupadas que buscan trabajos por primera vez"
    },
    {
        value: 2.9,
        color: "#F4922A",
        highlight: "#ADD8E6",
        label: "Desocupadas propiamente dichas"
    },
    {
        value: 17.2,
        color: "#F8A92C",
        highlight: "#ADD8E6",
        label: "Inactivas, jubiladas o pensionistas"
    },
    {
        value: 18.7,
        color: "#FBC02F",
        highlight: "#ADD8E6",
        label: "Inactivas, otras causas"
    },
    {
        value: 5.7,
        color: "#FED832",
        highlight: "#ADD8E6",
        label: "No relevado"
    }
    ];
    var ctx = document.getElementById("graAct").getContext("2d");
    var myNewChart = new Chart(ctx).Pie(dataPop,{
      tooltipTemplate: " <%=label%>: <%= numeral(circumference / 6.283).format('(0[.][00]%)') %>",
    });
  </script>

  <script type="text/javascript">
    // Get the context of the canvas element we want to select
    var dataPop = [
    {
        value: 13.7,
        color:"#EB4B21",
        highlight: "#ADD8E6",
        label: "No definido"
    },
    {
        value: 68.1,
        color:"#F8A92C",
        highlight: "#ADD8E6",
        label: "Si"
    },
    {
        value: 12.6,
        color:"#F17A27",
        highlight: "#ADD8E6",
        label: "No"
    },
    {
        value: 5.7,
        color:"#FED832",
        highlight: "#ADD8E6",
        label: "No relevado"
    }
    ];
    var ctx = document.getElementById("graHog").getContext("2d");
    var myNewChart = new Chart(ctx).Pie(dataPop,{
      tooltipTemplate: " <%=label%>: <%= numeral(circumference / 6.283).format('(0[.][00]%)') %>",
    });
  </script>

</body>
</html>
